
<button type="button" class="btn btn-primary" (click)="printdata();">Print</button>

<div id="example" style="margin:0px 6px 0px 6px;">
    <br>
<div class="container" style="border-style: ridge;" >
  <div class="row form-inline">
    <div class="col-sm-3" >
      <div class="alignleft">
        <h2 >
          <small >Cell : 97914 26926</small><br>
          <small >&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 94437 71179</small>
      </h2>
      </div>
    </div>
    <div class="col-sm-6 text-center">
      <br>
        <h3  style="border-style: ridge;">
            SILVER TAX INVOICE<br>
            <p >CASH/CREDIT BILL</p>
        </h3> 
        <p style="border-style: ridge;font-size: x-large;padding: 3px 3px;">GSTIN : 33BKMPA0961M1Z5</p>
        
    </div>
    <div class="col-sm-3">
      <div class="alignright">
      <input class="form-check-input" type="checkbox"> Original For Recipient<br>
      <input class="form-check-input" type="checkbox"> Duplicate For Transporter<br>
      <input class="form-check-input" type="checkbox"> Triplicate for Supplier
    </div>
    </div>
  </div>
  <div class="row" style="border-style: ridge;margin:6px 6px 6px 6px;">
    <div class="col-sm-3"> <br>
      <span ><img src="../../assets/photo/vinayaga.jpg" style="width:120px;height:120px;">
      </span>
    </div>
    <div class="col-sm-6"> <br>
      <p style="font-size: x-large;" class="text-center"><b>SHREE JEYAM SILVERS & SAREES</b></p>
        <p class="text-center">Wholesale and Retail<br>
          <span>31, Chairman Ramalingam Street, </span><br>
          <span>(Opposite to paavadi girls higher secondary school), </span><br>
          <span> Salem - 636 001.</span>
        </p>          
        </div>
    <div class="col-sm-3"> <br>
      <span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<img src="../../assets/photo/murugan.jpg" style="width:120px;height:120px;">
      </span>
    </div>
  </div>
      <div class="text-center">
        
        <div class="row">
        <div class="col-sm-6"> 
          
          <label  class="text-left form-control" for="invoice">Vehicle No: &nbsp;</label>
          <label  class="text-left form-control" for="invoice">Date & Time of Supply: &nbsp;<b>{{dateandtime}}</b></label>
          <label  class="text-left form-control" for="invoice">Place of Supply: &nbsp;<b></b></label>
          <label  class="text-left form-control" for="invoice">Trasportation Mode:(Own/Hired): &nbsp;<b></b></label>

          <!-- <input type="text" value="{{'Vehicle No:'}}" class="form-control">
          <input type="text" value="Date & Time of Supply: &nbsp;&nbsp;&nbsp;&nbsp; {{dateandtime}}" class="form-control">
          <input type="text" value="Place of Supply:" class="form-control">
          <input type="text" value="Trasportation Mode:(Own/Hired)" class="form-control"> -->

          
        </div>
        <div class="col-sm-6"> 
          <label  class="text-left form-control" for="invoice">Invoice No: &nbsp;<b>{{api.billingarray_incgst.invoiceno || 'xxx'}}</b></label>
          <label  class="text-left form-control" for="invoice">Invoice Date: &nbsp;<b>{{api.billingarray_incgst.invoicedate || 'xxx'}}</b></label>
          <label  class="text-left form-control" for="invoice">State & Code: &nbsp;<b>{{'TamilNadu & 33'}}</b></label>
         


      </div>
          </div>
      </div><br>
    <div class="row">
      <div class="col-sm-12">  
        <div style="border-style:ridge;padding:6px 6px;">
             <label class="text-right" for="cus_address">Customer Name:&nbsp;<b>{{api.billingarray_incgst.customerdetails.customername || "xxx"}}</b></label><br>
            <label  for="cus_address">Phone Number:&nbsp;<b>{{api.billingarray_incgst.customerdetails.phoneumber || "xxx"}}</b></label><br>
            <label  for="cus_address">Address:&nbsp;<b>{{api.billingarray_incgst.customerdetails.address || "xxx"}}</b></label><br>
            <label  for="invoice">Party's GSTIN: &nbsp;<b>{{api.billingarray_sareeprod.customerdetails.partygstin || 'XXX'}}</b></label>
          </div>
      </div>
          <!-- <div class="col-sm-6">                    
            <label  for="cus_address">Mail:&nbsp;{{api.billingobject.customerdetails.emailid || "xxx"}}</label><br>
            <label  for="cus_address">Adhaar:&nbsp;{{api.billingobject.customerdetails.adhaarid || "xxx"}}</label><br>
          </div> -->
        </div><br>
          <div class="row">
        <div class="table-responsive-sm col-sm-12">           
<table  class="table table-bordered table-sm">
  <thead>
    <tr>
        <th>Sno</th>
        <th>Description</th>
      <!-- <th>HSN Code</th>
      <th>Quantity</th>
      <th>Rate</th>
      <th>Discount</th>
      <th>Total</th> -->
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let items of api.billingarray_incgst.tabledatadet;index as i;">
      <td>{{i+1}} .</td>
      <td>{{ items.productname}}</td>
      <!-- <td>{{items.sareehsncode}}</td>
      <td>{{ items.collected.qty}}</td>
      <td>&#x20B9; {{ items.sareerate}}</td>
      <td>&#x20B9; {{ items.collected.dis}}</td>
      <td>&#x20B9; {{ items.total}}</td> -->

    </tr>
  </tbody>
</table>
        </div>
    </div>
    <div class="row">
      <div class="col-sm-4">
        <!-- <p style="border-style: ridge;" class="text-center">Subject to Salem Jurisdiction</p> -->
        <p class="alignleft">Bank Details:</p>
        <p class="alignleft" style="font-size: large;"><br>
          <span>Name : Shree jeyam silvers,</span><br>
          <span>Bank Name - Indian Overseas Bank,</span><br>
          <span>Branch Name - Shevapet Salem,</span><br>
          <span>A/c No. - 014902000002879,</span><br>
          <span> IFSC Code - IOBA0000149 </span></p>
      </div>
      <div class="col-sm-8">
        <table  class="table table-bordered table-sm">
              <thead>
                <tr>
                    <th class="text-right">{{ "Total Amount Before Tax"}}</th>
                    <td class="text-center">&#x20B9; {{api.billingarray_incgst.tax_details.taxdet_totalamountbeforetax}}</td>              
                    <!-- <td class="text-center">{{api.billingarray_incgst.tax_details.totamt}} &#x20B9;</td>               -->
                </tr>
                <tr>
                  <!-- <th class="text-right"><small>{{ "GST Percent"}}</small></th>
                  <td class="text-center">{{api.billingarray_incgst.tax_details.tottaxpercent}} %</td> -->
              </tr>              
            <tr>
              <th class="text-right">{{ "Tax of CGST 1.5 %"}}</th>
              <td class="text-center">&#x20B9; {{api.billingarray_incgst.tax_details.taxdet_totalamountofcgsttax}} </td>
            </tr>
          <tr>
            <th class="text-right">{{ "Tax of SGST 1.5 %"}}</th>
            <td class="text-center">&#x20B9; {{api.billingarray_incgst.tax_details.taxdet_totalamountofsgsttax}} </td>
          </tr>
          <tr>
            <th class="text-right">{{ "Total Tax Amount"}}</th>
            <td class="text-center">&#x20B9; {{api.billingarray_incgst.tax_details.taxdet_totalamountoftax}} </td>            
        </tr>
        <!-- <tr>
          <th class="text-right">{{ "Total Amount After Tax"}}</th>
          <td class="text-center">{{api.billingarray_incgst.tax_details.totamtwithtax}} </td>
        </tr> -->
        <tr>
          <th class="text-right"><h2>{{ "Total Amount After Tax"}}</h2></th>
          <td class="text-center"><h2>&#x20B9; {{api.billingarray_incgst.tax_details.taxdet_totalamountaftertax}} </h2></td>
        </tr>
              </thead>
          </table>
      </div>
    </div>
    <!-- <hr> -->
    <div class="row">
      <div class="col-sm-12" style="border-style: ridge;padding: 6px 6px;">
        <label  for="Rupees"><b>Rupees (In Words): </b>&nbsp;{{rupessinwords | uppercase}}</label><br>
      </div><br>
      <div class="col-sm-12 text-center" style="border-style: ridge;padding: 6px 6px;">
        <label  for="Rupees" ><b> * Goods once sold will not be exchange or taken back &nbsp;&nbsp;&nbsp;&nbsp; Subject to salem Jurisdiction  E&OE</b></label><br>
      </div>
      <div class="col-sm-6">
        <br>
        <p class="text-center" style="border-style: ridge;padding: 6px 6px;">
          <span></span><br>
          <span></span><br>
          <br><br>
          <span>Party's Signature</span><br>
        </p>
      </div>
      <div class="col-sm-6">
        <br>
        <p class="text-center" style="border-style: ridge;padding: 6px 6px;">
          <b><span><b><small>For</small></b>&nbsp;SHREE JEYAM SILVERS</span></b><br>
          <span></span><br>
          <span></span><br><br>
          <span>Proprietor</span><br>
        </p>
      </div>
    </div>
</div>
<br>
<br>
</div>

