<br>
<div class="container-fluid">
    <div class="row">
        <div class="col-sm-6">
            <div class="card text-center">
                <div class="card-header">
                    Fashion Studio
                </div>
                <div class="card-body">
                    <h5 class="card-title">Bujuki's Boutique</h5>
                    <table class="table table-bordered table-hover">
                        <thead>
                            <tr>
                                <th class="myth" scope="col">NO :</th>
                                <th scope="col">Date</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <th class="myth" scope="col">Customer Name :</th>
                                <td>Mark</td>

                            </tr>
                            <tr>
                                <th class="myth" scope="col">Mobile Number :</th>
                                <td>Mark</td>

                            </tr>
                            <tr>
                                <th class="myth" scope="col">Lining :</th>
                                <td>Mark</td>

                            </tr>
                            <tr>
                                <th class="myth" scope="col">Falls :</th>
                                <td>Mark</td>

                            </tr>
                            <tr>
                                <th class="myth" scope="col">Saree Oral Falls :</th>
                                <td>Mark</td>

                            </tr>
                            <tr>
                                <th class="myth" scope="col">Saree Mudi :</th>
                                <td>Mark</td>

                            </tr>
                            <tr>
                                <th class="myth" scope="col">Embroidary Work :</th>
                                <td>Mark</td>

                            </tr>
                            <tr>
                                <th class="myth" scope="col">Aari Work :</th>
                                <td>Mark</td>

                            </tr>
                            <tr>
                                <th class="myth" scope="col">Chudi :</th>
                                <td>Mark</td>

                            </tr>
                            <tr>
                                <th class="myth" scope="col">Blouse :</th>
                                <td>Mark</td>

                            </tr>
                            <tr>
                                <th class="myth" scope="col">Amount :</th>
                                <td>Mark</td>

                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="card-footer text-muted">
                    <button style="margin:10px;" type="button" class="btn btn-primary">Print</button>
                </div>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="card text-center">
                <div class="card-header">
                    Entries
                </div>
                <div class="card-body">
                    <h5 class="card-title">Bujuki's Boutique</h5>
                    <form>
                        <div class="row">
                            <div class="col-sm-6">
                                <mat-form-field appearance="outline" class="example-full-width">
                                    <mat-label>Enter Total Amount</mat-label>
                                    <input matInput type="text" autocomplete="off">
                                </mat-form-field>
                                <mat-form-field appearance="outline" class="example-full-width">
                                    <mat-label>Enter Total Amount</mat-label>
                                    <input matInput type="text" autocomplete="off">
                                </mat-form-field>
                                <mat-form-field appearance="outline" class="example-full-width">
                                    <mat-label>Enter Total Amount</mat-label>
                                    <input matInput type="text" autocomplete="off">
                                </mat-form-field>
                                <mat-form-field appearance="outline" class="example-full-width">
                                    <mat-label>Enter Total Amount</mat-label>
                                    <input matInput type="text" autocomplete="off">
                                </mat-form-field>
                                <mat-form-field appearance="outline" class="example-full-width">
                                    <mat-label>Enter Total Amount</mat-label>
                                    <input matInput type="text" autocomplete="off">
                                </mat-form-field>
                                <mat-form-field appearance="outline" class="example-full-width">
                                    <mat-label>Enter Total Amount</mat-label>
                                    <input matInput type="text" autocomplete="off">
                                </mat-form-field>

                            </div>
                            <div class="col-sm-6">
                                <mat-form-field appearance="outline" class="example-full-width">
                                    <mat-label>Enter Total Amount</mat-label>
                                    <input matInput type="number" autocomplete="off">
                                </mat-form-field>
                                <mat-form-field appearance="outline" class="example-full-width">
                                    <mat-label>Enter Total Amount</mat-label>
                                    <input matInput type="text" autocomplete="off">
                                </mat-form-field>
                                <mat-form-field appearance="outline" class="example-full-width">
                                    <mat-label>Enter Total Amount</mat-label>
                                    <input matInput type="text" autocomplete="off">
                                </mat-form-field>
                                <mat-form-field appearance="outline" class="example-full-width">
                                    <mat-label>Enter Total Amount</mat-label>
                                    <input matInput type="text" autocomplete="off">
                                </mat-form-field>
                                <mat-form-field appearance="outline" class="example-full-width">
                                    <mat-label>Enter Total Amount</mat-label>
                                    <input matInput type="text" autocomplete="off">
                                </mat-form-field>
                                <mat-form-field appearance="outline" class="example-full-width">
                                    <mat-label>Enter Total Amount</mat-label>
                                    <input matInput type="text" autocomplete="off">
                                </mat-form-field>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="card-footer text-muted">
                    <button style="margin:10px;" type="button" class="btn btn-primary">Save</button>
                    <button style="margin:10px;" type="button" class="btn btn-primary">Clear</button>
                </div>
            </div>
        </div>
    </div>
</div>