<br>
<div class="container-fluid">
    <div class="row">
        <div class="col-sm-6">
            <div class="card text-center">
                <div class="card-header">
                    Fashion Studio
                </div>
                <div class="card-body">
                    <h5 class="card-title">Bujuki's Boutique</h5>
                    <div id="example">
                        <div style="border-style: double;">

                            <p class="mytd" style="float:right;text-align: left; padding: 10px;">Cell: 8015456354 <br> &nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;
                                <span>7358361164</span>
                            </p>
                            <br><br>
                            <div style="text-align: center;">
                                <img mat-card-image class="responsive" src="../../assets/photo/image.png" alt="Image" width="99%;">
                                <br><br>
                                <p class="mytd">31, Chairman Ramalingam Street, <br>
                                    <span>(Opposite to pavadi Girls Higher Secondary School),Salem - 636 001.</span></p>
                            </div>
                            <table class="table table-bordered table-hover">
                                <tbody>
                                    <tr>
                                        <th class="myth" scope="col">No:</th>
                                        <td class="mytd">{{custormerdetails.no || "XXX"}}</td>

                                    </tr>
                                    <tr>
                                        <th class="myth" scope="col">Date</th>
                                        <td class="mytd">{{custormerdetails.date | date : "dd.MM.y" || "XXX"}}</td>

                                    </tr>
                                    <tr>
                                        <th class="myth" scope="col">Customer Name :</th>
                                        <td class="mytd">{{custormerdetails.customername || "XXX"}}</td>

                                    </tr>
                                    <tr>
                                        <th class="myth" scope="col">Mobile Number :</th>
                                        <td class="mytd">{{custormerdetails.mobilenumber || "XXX"}}</td>

                                    </tr>
                                    <tr>
                                        <th class="myth" scope="col">Lining :</th>
                                        <td class="mytd">{{custormerdetails.lining || "XXX"}}</td>

                                    </tr>
                                    <tr>
                                        <th class="myth" scope="col">Falls :</th>
                                        <td class="mytd">{{custormerdetails.falls || "XXX"}}</td>

                                    </tr>
                                    <tr>
                                        <th class="myth" scope="col">Saree Oral Falls :</th>
                                        <td class="mytd">{{custormerdetails.sareeoralfalls || "XXX"}}</td>

                                    </tr>
                                    <tr>
                                        <th class="myth" scope="col">Saree Mudi :</th>
                                        <td class="mytd">{{custormerdetails.mudi || "XXX"}}</td>

                                    </tr>
                                    <tr>
                                        <th class="myth" scope="col">Embroidary Work :</th>
                                        <td class="mytd">{{custormerdetails.embroidarywork || "XXX"}}</td>

                                    </tr>
                                    <tr>
                                        <th class="myth" scope="col">Aari Work :</th>
                                        <td class="mytd">{{custormerdetails.aariwork || "XXX"}}</td>

                                    </tr>
                                    <tr>
                                        <th class="myth" scope="col">Chudi :</th>
                                        <td class="mytd">{{custormerdetails.chudi || "XXX"}}</td>

                                    </tr>
                                    <tr>
                                        <th class="myth" scope="col">Blouse :</th>
                                        <td class="mytd">{{custormerdetails.blouse || "XXX"}}</td>

                                    </tr>
                                    <tr>
                                        <th class="myth" scope="col">Amount :</th>
                                        <td class="mytd">{{custormerdetails.amount || "XXX"}}</td>

                                    </tr>
                                </tbody>
                            </table>

                            <div class="row" style="margin: 2px;">
                                <div class="col-sm-6 text-center" style="border-style: ridge;width: 100%;text-align: center;">
                                    <br><br><br>
                                    <p style="padding-bottom:5px;">Party's Signature</p>
                                </div>
                                <div class="col-sm-6 text-center" style="border-style: ridge;width: 100%;text-align: center;">
                                    <b><span><b><small>For</small></b>&nbsp;Bujuki's Boutique</span>
                                    </b>
                                    <br><br><br>
                                    <p>Proprietor</p>
                                </div>
                            </div>
                            <!-- <p class="text-center" style="border-style: ridge; margin:-2px -50px 10px 2px;">
                                <span></span><br>
                                <span></span><br>
                                <br>
                                <span>Party's Signature</span><br>
                            </p> -->
                            <!-- <div class="row">
                                <div class="col-sm-6">
                                    <p class="text-center" style="border-style: ridge; padding:0px 40px 5px;">
                                        <span></span><br>
                                        <span></span><br>
                                        <br><br>
                                        <span>Party's Signature</span><br>
                                    </p>
                                </div>
                                <div class="col-sm-6">
                                    <p class="text-center" style="border-style: ridge;">
                                        <b><span><b><small>For</small></b>&nbsp;Bujuki's Boutique</span>
                                        </b><br>
                                        <span></span><br>
                                        <span></span><br><br>
                                        <span>Proprietor</span><br>
                                    </p>
                                </div>
                            </div> -->
                        </div>
                    </div>
                </div>
                <div class="card-footer text-muted">
                    <button style="margin:10px;" [useExistingCss]="true" printSectionId="example" ngxPrint type="button" class="btn btn-primary">Print</button>
                </div>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="card text-center">
                <div class="card-header">
                    Entries
                </div>
                <div class="card-body">
                    <h5 class="card-title">Bujuki's Boutique</h5>
                    <form [formGroup]="customerForm" autocomplete="off">
                        <div class="row">
                            <div class="col-sm-6">
                                <mat-form-field appearance="outline" class="example-full-width">
                                    <mat-label>Enter No</mat-label>
                                    <input matInput type="text" formControlName="no" autocomplete="off">
                                </mat-form-field>

                                <mat-form-field appearance="outline" class="example-full-width">
                                    <mat-label>Choose a date</mat-label>
                                    <input matInput formControlName="date" [matDatepicker]="picker">
                                    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                                    <mat-datepicker #picker></mat-datepicker>
                                </mat-form-field>


                                <mat-form-field appearance="outline" class="example-full-width">
                                    <mat-label>Enter Customer Name</mat-label>
                                    <input matInput formControlName="customername" type="text" autocomplete="off">
                                </mat-form-field>
                                <mat-form-field appearance="outline" class="example-full-width">
                                    <mat-label>Enter Mobile Number</mat-label>
                                    <input matInput formControlName="mobilenumber" type="text" autocomplete="off">
                                </mat-form-field>
                                <mat-form-field appearance="outline" class="example-full-width">
                                    <mat-label>Enter Lining</mat-label>
                                    <input matInput formControlName="lining" type="text" autocomplete="off">
                                </mat-form-field>
                                <mat-form-field appearance="outline" class="example-full-width">
                                    <mat-label>Enter Falls</mat-label>
                                    <input matInput formControlName="falls" type="text" autocomplete="off">
                                </mat-form-field>
                                <mat-form-field appearance="outline" class="example-full-width">
                                    <mat-label>Enter Saree Oral Falls</mat-label>
                                    <input matInput formControlName="sareeoralfalls" type="text" autocomplete="off">
                                </mat-form-field>

                            </div>
                            <div class="col-sm-6">

                                <mat-form-field appearance="outline" class="example-full-width">
                                    <mat-label>Enter Saree Mudi</mat-label>
                                    <input matInput formControlName="mudi" type="text" autocomplete="off">
                                </mat-form-field>

                                <mat-form-field appearance="outline" class="example-full-width">
                                    <mat-label>Enter Embroidary Work</mat-label>
                                    <input matInput formControlName="embroidarywork" type="text" autocomplete="off">
                                </mat-form-field>
                                <mat-form-field appearance="outline" class="example-full-width">
                                    <mat-label>Enter Aari Work</mat-label>
                                    <input matInput formControlName="aariwork" type="text" autocomplete="off">
                                </mat-form-field>
                                <mat-form-field appearance="outline" class="example-full-width">
                                    <mat-label>Enter Chudi</mat-label>
                                    <input matInput formControlName="chudi" type="text" autocomplete="off">
                                </mat-form-field>
                                <mat-form-field appearance="outline" class="example-full-width">
                                    <mat-label>Enter Blouse</mat-label>
                                    <input matInput formControlName="blouse" type="text" autocomplete="off">
                                </mat-form-field>
                                <mat-form-field appearance="outline" class="example-full-width">
                                    <mat-label>Enter Amount</mat-label>
                                    <input matInput formControlName="amount" type="text" autocomplete="off">
                                </mat-form-field>

                            </div>
                        </div>
                    </form>
                </div>
                <div class="card-footer text-muted">
                    <button style="margin:10px;" type="button" (click)="Submit();" class="btn btn-primary">Submit</button>
                    <button style="margin:10px;" type="button" (click)="clear();" class="btn btn-primary">Clear</button>
                </div>
            </div>
        </div>
    </div>
</div>