<mat-toolbar color="primary">
  <span class="fill-remaining-space">
    <button mat-icon-button [matMenuTriggerFor]="menu">
      <mat-icon>menu</mat-icon>
    </button>
    <mat-menu #menu="matMenu" [overlapTrigger]="false">
      <button mat-menu-item routerLink="/home">
        <mat-icon>home</mat-icon>
        <span>Home</span>
      </button>
      <button mat-menu-item routerLink="/customer">
        <mat-icon>people_outline</mat-icon>
        <span>Customer</span>
      </button>
      <button mat-menu-item routerLink="/product">
        <mat-icon>queue</mat-icon>
        <span>Product</span>
      </button>
      <button mat-menu-item routerLink="/sareeproduct">
        <mat-icon>queue</mat-icon>
        <span>Saree Product</span>
      </button>
      <button mat-menu-item routerLink="/sareeproductgst">
        <mat-icon>receipt</mat-icon>
        <span>Saree Product GST</span>
      </button>
      <button mat-menu-item routerLink="/includedgst">
        <mat-icon>receipt</mat-icon>
        <span>Included GST</span>
      </button>
      <button mat-menu-item routerLink="/nonincludedgst">
        <mat-icon>receipt</mat-icon>
        <span>Not Included GST</span>
      </button>
      <button mat-menu-item routerLink="/sareebill">
        <mat-icon>print</mat-icon>
        <span>Saree Bill Print</span>
      </button>
      <button mat-menu-item routerLink="/includedgstbillpage">
        <mat-icon>print</mat-icon>
        <span>Included Gst Bill Print</span>
      </button>
      <button mat-menu-item routerLink="/nonincludedgstbillpage">
        <mat-icon>print</mat-icon>
        <span> Non Included Gst Bill Print</span>
      </button>
      <button mat-menu-item routerLink="/invoicemonthandyearwise">
        <mat-icon>print</mat-icon>
        <span>Month & Year</span>
      </button>
      <button mat-menu-item routerLink="/invoicedatewise">
        <mat-icon>print</mat-icon>
        <span>DateWise</span>
      </button>
    </mat-menu>
  </span>
  <span class="fill-remaining-space">SHREE JEYAM SILVERS</span>
</mat-toolbar>

<router-outlet></router-outlet>

<ngx-spinner bdOpacity = 1 bdColor = "rgba(103,97,97,0.71)" size = "large" color = "#fff" type = "timer" [fullScreen] = "true">
  <br />
<p style="color: white" > Check your LAN/Wifi Connection </p>
</ngx-spinner>